<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connstring>
    Server=192.168.201.60;Initial Catalog=MANDAI_APP;User ID=sa;Password=admin@1234
  </connstring>
	<x_connstring>
    Server=10.10.13.12;Initial Catalog=SANSHIDB_APP;User ID=k-kayakawa;Password=kaya@1234
  </x_connstring>
    <x_connstring>
    Server=192.168.201.243;Initial Catalog=TAKUHAIDB_APP;User ID=sa;Password=f34-8859
  </x_connstring>
  <infob_list>
    <window_caption>
      会員バナー設定　一覧
    </window_caption>
    <page_row_count>
      2
    </page_row_count>
  </infob_list>
  <app_InfoB_Setting>
    C:\dev\git\KAYAKAWA\Kaya007_InfoB_Setting\app_InfoB_Setting\bin\Debug\app_InfoB_Setting.exe
  </app_InfoB_Setting>
</configuration>
