<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <x_connstring>
    Server=192.168.201.243;Initial Catalog=TAKUHAIDB_APP;User ID=sa;Password=f34-8859
  </x_connstring>
  <x_connstring>
    Server=10.10.13.12;Initial Catalog=SANSHIDB_APP;User ID=k-kayakawa;Password=kaya@1234
  </x_connstring>
  <connstring>
    Server=192.168.201.60;Initial Catalog=MANDAI_APP;User ID=sa;Password=admin@1234
  </connstring>
</configuration>
